

.header-logo {
	margin-left: 3rem;
	margin-top: 3rem;
	max-width: 7rem;
  position: relative;
  height: auto;
  width: 100%;
	

}
.navbar{
	background-color: #fbcc00;
}


ul {
  list-style-type: none;
  margin: 2rem 0% 0% 0%;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;


}

li {
  float: right;
  padding: 1rem 2rem;
}

li a {
  display: flex;
  color: #1B1049;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: minion-std-black, serif;
	font-weight: 400;
	font-style: normal;
    font-size: 1.2rem;
}

li a:hover {
  color: #FF4050;
}




  

